.slick-prev:before, .slick-next:before {
    color: #09529b !important;
    font-size: 40px;
}
.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    height: 1.2em;
    white-space: nowrap;
}

