#searchfield {
    min-width: 400px;
}

.card-img-top {
    height: 220px;
}

.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    height: 1.2em;
    white-space: nowrap;
}

.fa-tablet{
    color:transparent;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}